#
# Wifi AP Configuration
#
CONFIG_WEBAPP_LOCATION="/settings"
CONFIG_DEFAULT_AP_SSID="MAX"
CONFIG_DEFAULT_AP_PASSWORD="MAX@2022!!"
CONFIG_DEFAULT_AP_CHANNEL=1
CONFIG_DEFAULT_AP_IP="192.168.10.10"
CONFIG_DEFAULT_AP_GATEWAY="192.168.10.10"
CONFIG_DEFAULT_AP_NETMASK="255.255.255.0"
CONFIG_DEFAULT_AP_MAX_CONNECTIONS=1
CONFIG_DEFAULT_AP_BEACON_INTERVAL=100
# end of Wifi AP Configuration

#
# HTTP Server
#
CONFIG_HTTPD_MAX_REQ_HDR_LEN=2048
CONFIG_HTTPD_MAX_URI_LEN=512
CONFIG_HTTPD_ERR_RESP_NO_DELAY=y
CONFIG_HTTPD_PURGE_BUF_LEN=32
# CONFIG_HTTPD_LOG_PURGE_DATA is not set
# CONFIG_HTTPD_WS_SUPPORT is not set
# CONFIG_HTTPD_QUEUE_WORK_BLOCKING is not set
# end of HTTP Server

#
# Firmware
#
CONFIG_FIRMWARE_VERSION="2026.08.04"
# end of Firmware